---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro'
import localImage from '../../public/andrew_david.jpg'
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-40">
			<img 
			class="rounded-full size-12 mb-4"
			src={localImage.src} alt="andrew photo">
			<h1 class="text-white text-5xl font-bolf flex justify-center flex-row gap-x-4 pb-10">
				Hola !, soy Andrés Murillo
				<a 
				href="https://www.linkedin.com/in/andres-david-993b3b338/" 
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center">
				<Badge> Disponible para trabajar</Badge>
				</a>	
			</h1>
			<h2 class="text-xl opacity-80">+1 año de epxerencia en desarrollo web, especializado en crear aplicaciones únicas y personalizadas</h2>
		</section>
	
	</main>
</Layout>


