---


---

<header class="flex justify-center items-center py-8 w-full xl:w-[1200px] mx-auto">
  
 

    <nav class="flex flex-row gap-x-10 opacity-80 text-white-500">
        <a href="#top">Inicio</a>
        <a href="#about">Sobre mi</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="#contact">Contactame</a>

    </nav>
</header>