---
import ExperienceItem from "../ExperienceItem.astro"
const EXPERIENCE = [

{
    date: " febrero 2023 - junio 2023",
    title: "Desarrollador de Formularios y Mantenedor de Programas",
    description:
        "Diseñé y desarrollé formularios interactivos para la recolección de datos, mejorando la eficiencia en el proceso de captura de información. Implementé un sistema de mantenimiento para asegurar el correcto funcionamiento de los programas utilizados por la empresa, lo que resultó en una reducción del 30% en errores operativos.",
        link: "#",
},
{
    date: "octubre 2023 - febrero 2024",
    title: "Desarrollador Web",
    description:
    "Creé múltiples páginas web utilizando la herramienta de desarrollo Bubble.io, lo que permitió una rápida implementación de soluciones digitales sin necesidad de programación extensa. Diseñé interfaces intuitivas y atractivas, mejorando la experiencia del usuario y aumentando el tiempo de permanencia en las páginas.",
},

]
---
<ol class="relative border-s border-gray-200 ml-3">    
    {
        EXPERIENCE.map(experience =>(
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>
        ))
        }               
   
</ol>






<!-- <svg  
xmlns="http://www.w3.org/2000/svg"  
width="24"  
height="24"  
viewBox="0 0 24 24"  
fill="none"  
stroke="currentColor"  
stroke-width="2" 
stroke-linecap="round" 
stroke-linejoin="round">

  <path 
  stroke="none" 
  d="M0 0h24v24H0z" 
  fill="none"/><path 
  d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
  <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />
  <path d="M12 12l0 .01" />
  <path d="M3 13a20 20 0 0 0 18 0" />
</svg> -->